.App {
  text-align: center;
}

.App pre {
  margin: auto;;
  padding: 1rem;
  border: 1px solid #dddddd !important;
  overflow: auto;
  border-radius: 6px;
  background-color: #f6f8fa;
  min-height: 3rem;
  max-width: 80rem;
}
